.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  border: 0;
  border-radius: 12px;

  background: radial-gradient(79.61% 100% at 50% 0%, #88d5ff 0%, #0098ea 81.76%);

  /* внутренняя “рамка” градиентом */
  position: relative;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0px;              /* толщина внутреннего бордера */
  border-radius: 10px;     /* 12 - 2 = 10 */
  pointer-events: none;

  /* это будет “внутренняя обводка” */
  box-shadow: 0 0 0 2px transparent;
  background:
    linear-gradient(180deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.0768) 100%);
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px; /* толщина линии */
}

.icon {
  flex-shrink: 0;
}
