.tabs {
  position: relative;
  display: flex;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 12px;
  background-color: #fff;
  transition: transform 0.25s ease-out;
  pointer-events: none;
  z-index: 0;
}

.tab {
  position: relative;
  z-index: 1;
  border: none;
  flex: 1;
  border-radius: 12px;
  padding: 13px 0;
  font-size: 21px;
  font-weight: 600;

  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);

  &.active {
    color: rgba(0, 0, 0, 1);
    font-weight: 800;
  }
}
