.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 24px 30px 24px;
}

.statsPill {
  position: relative;
  display: flex;
  gap: 6px;

  .iconTon {
    position: relative;
    width: 16px;
    height: 16px;
    color: #fff;
    z-index: 1;

    &Blur {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      height: 90%;
      transform: translate(-50%, -50%);

      background-color: rgb(0, 152, 234);
      border-radius: 50%;
      filter: blur(10px);
    }

    &Block {
      position: absolute;
      top: 50%;
      left: -10px;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 9px 8px 7px 8px;
      background-color: rgba(0, 152, 234, 1);
      border-radius: 50%;

      transform: translateY(-50%);
    }
  }

  .balance {
    position: relative;

    height: 40px;
    min-width: 110px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.72);
      border-radius: 6px;
      transform: skewX(-20deg);
      z-index: -1;
    }

    &Text {
      font-size: 12px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.7);
    }

    &Value {
      font-size: 17px;
      font-weight: 700;
      color: rgba(255, 255, 255, 1);
    }
  }

  .addBtn {
    position: relative;
    width: 40px;
    height: 40px;
    background:none;
    border: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      
      width: 100%;
      height: 100%;
  
      transform: skewX(-20deg);
      border-radius: 6px;
      background: radial-gradient(
        63.54% 100% at 50% 0%,
        #88d5ff 0%,
        #0098ea 100%
      );
      transition: background 0.5s linear;
    }

    &:active::after {
      background: rgba(0, 219, 132, 1);
    }


    &:active .iconAdd {
      color: rgba(0, 0, 0, 1);
    }

    .iconAdd {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      width: 18px;
      height: 18px;
      color: white;
      transition: color 0.5s linear;
    }
  }

  .iconUser {
    width: 24px;
    height: 24px;
    color: #9ca3af;
  }
}

.avatar {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 9999px;
  background: var(--surface-card);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.52);
  }
}
