.card {
  position: relative;
  border-radius: 16px;
  background: var(--surface-card);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  min-height: 140px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.35);

  padding: 4px;
}

.content {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 16px;

  min-width: 124px;

  &Block {
    background: rgba(40, 46, 53, 1);
    border-radius: 8px;
  }
}

.title {
  font-size: 12px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);

  padding: 8px 4px 8px 4px;
}

.stats {
  display: flex;
  flex-direction: column;
}

.statRow {
  display: flex;
  align-items: center;

  padding: 4px;

  &:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  &:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.12);
  }

  &:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.04);
  }

  &:nth-child(1) .statIcon {
    border: 1px solid transparent;

    background:
      radial-gradient(100% 100% at 50% 0%, #006536 0%, #00cb6d 100%) padding-box,
      linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.52) 0%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0.52) 100%
        )
        border-box;

    border-top-left-radius: 2px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 8px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
  }

  &:nth-child(2) .statIcon {
    border: 1px solid transparent;

    background:
      radial-gradient(100% 100% at 50% 0%, #003e60 0%, #0098ea 100%) padding-box,
      linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.52) 0%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0.52) 100%
        )
        border-box;

    border-radius: 8px 2px 8px 2px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
  }

  &:nth-child(3) .statIcon {
    border: 1px solid transparent;

    background:
      radial-gradient(100% 100% at 50% 0%, #602500 0%, #ea8900 100%) padding-box,
      linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.52) 0%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0.52) 100%
        )
        border-box;

    border-radius: 8px 2px 8px 2px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
  }

  .statIcon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 5px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -5px;
      width: 1px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);
    }

    & svg {
      width: 23px;
      height: 23px;

      padding: 6px 5px 4px 5px;
    }
  }

  .statText {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    line-height: 12px;
  }

  .label {
    font-size: 10px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
  }

  .value {
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
  }
}

.buyBtn {
  padding: 8px 22px;
  font-size: 15px;
  font-weight: 800;
  color: #fff;
}

.priceIcon {
  width: 10px;
  height: 10px;

  &Block {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 152, 234, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    padding: 4px;
  }
}

.priceValue {
  font-variant-numeric: tabular-nums;
}

.imageWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 140px;
    display: block;
  }
}

.infoBtn {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 2;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  background: rgba(0, 0, 0, 0.24);

  color: #fff;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 14px;
    height: 14px;
  }
}
